<div class="container">
    <div class="col-md-12 col-md-offset-3 col-sm-12 col-sm-offset-1 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h1>Article</h1>
            </div>
            <div class="panel-body">
                <div class="article-container">
                    <p hidden=true id="articleId">{{_id}}</p>
                    <h2> {{title}} </h2>
                    <p> {{content}} </p>
                </div>

                <div class="article-notes">
                    {{#if note}}
                    <h2>Notes </h2>
                    <div class="note">
                        <p class="note-title">Title: {{note.title}} </p>
                        <p class="note-title"> Description: {{note.body}} </p>
                        <button class="btn btn-danger " id="delete-note" data-id="{{note.id}}">Delete</button>
                    </div>
                </div>
                {{/if}}
                <div class="new-notes">
                    <h2> Add a New Note</h2>
                    <div class="form-group">
                        <label for="noteTitle">Title</label>
                        <input type="text" class="form-control" id="noteTitle" required>
                    </div>
                    <div class="form-group">
                        <label for="noteBody">Description </label>
                        <input type="text" class="form-control" id="noteBody" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="add-note">Submit</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script> 

    $(document).on("click", "#add-note", function () {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/articles/" + $("#articleId").text(),
            data: {
                title: $("#noteTitle").val(),
                body: $("#noteBody").val()
            }
        })
            .then(function (data) {

                $(".article-notes").prepend();
                $("#noteTitle").val("");
                $("#noteBody").val("");
            }
            );
    });

    $(document).on("click", "#add-note", function () {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/articles/" + $("#articleId").text(),
            data: {
                title: $("#noteTitle").val(),
                body: $("#noteBody").val()
            }
        })
            .then(function (data) {

                $(".article-notes").prepend();
                $("#noteTitle").val("");
                $("#noteBody").val("");
            }
            );
    });
    
    $(document).on("click", "#delete-note", function () {
        var id = $(this).data("id");
        
        $.ajax({
            method: "GET",
            url: "/delete/" + id,
        }).then(function (data) {
            $(this).parent.hide(); 

        });
    });
</script>